# fly.toml app configuration file generated for scheduler-worker on 2025-03-01
app = "shifteasy-milp-worker"
primary_region = "nrt"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "4000"

[[services]]
  internal_port = 4000
  protocol = "tcp"
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [services.concurrency]
    type = "connections"
    soft_limit = 1
    hard_limit = 1
    queue = 2

[[vm]]
  memory = "2048mb"
  cpu_kind = "shared"
  cpus = 4
